# Copy this to .env and fill in your values

# InfinityFree PHP API URL for contact form
# e.g. https://sitaramhembrom.epizy.com/api/contact.php
REACT_APP_API_URL=https://sitaram-hembrom.lovestoblog.com/api/contact.php
